@charset "utf-8";
/* CSS Document */
*{
  padding:0;
  margin:0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  font-size:12px;
}
a{
  color: #00a1d6;
  text-decoration: none;
  font-size: 12px;
}
a:hover{
  color: #00b5e5;
}
ul,ol{
  list-style:none;
}
i,em{
  font-style:normal;
}
b,strong{
  font-weight:normal;
}
a img{
  border:none;
}
input,select{
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-strong {
  color: #00a1d6;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.float-left {
  float: left;
}

.btn-default,.btn-primary,.btn-normal{
  min-height: 40px;
  min-width: 88px;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
}
.btn-default{
  border: 1px solid #00a1d7 /* px */;
  background: #00a1d7;
  color: #fff;
}

.btn-primary{
  border: 1px solid #e5e9ef /* px */;
  background: transparent;
  color: #99a2aa;
}

.btn-small{
  min-width: 52px;
  min-height: 28px;
  line-height: 28px;
}

.btn-middle{
  min-width: 120px;
  min-height: 32px;
  line-height: 30px;
}

.btn-full{
  width: 100%;
  height: 44px;
  line-height: 42px;
}


